<%- include("partials/header") %>



    <div class="row row-spaced">
        <div class="col-md-9 mb-0">
            <h1 class="blog-title">The Title of the blog goes here in this section</h1>

            <div class="blog-title">
                <img src="/images/1.png" alt="" class="writer-photo">
                <span class="writer-name">Writer Name</span>
                <span class="time">Mon 14 June 2021</span>
            </div>

            <div class="blog-content mt-3">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ipsum reprehenderit delectus, temporibus assumenda quidem ex rem architecto ratione, velit sapiente perspiciatis obcaecati molestiae nesciunt distinctio possimus ea placeat quaerat iste quam
                    vitae quos doloremque consequatur. Eius dignissimos sequi dicta mollitia obcaecati earum numquam quae voluptates esse alias voluptatem ullam incidunt. Nesciunt ex quasi quia quidem nulla, vel ipsam est explicabo nostrum iusto, exercitationem
                    ab praesentium magni doloremque eaque minus a, eos optio? Dignissimos dicta ducimus saepe aperiam iusto corporis odio, voluptate, optio vero adipisci itaque blanditiis sunt explicabo laudantium necessitatibus deleniti similique. Perspiciatis
                    quae, impedit quia quisquam a odio?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ipsum reprehenderit delectus, temporibus assumenda quidem ex rem architecto ratione, velit sapiente perspiciatis obcaecati molestiae nesciunt distinctio possimus ea placeat quaerat iste quam
                    vitae quos doloremque consequatur. Eius dignissimos sequi dicta mollitia, obcaecati earum numquam quae voluptates esse alias voluptatem ullam incidunt. Nesciunt ex quasi quia quidem nulla, vel ipsam est explicabo nostrum iusto, exercitationem
                    ab praesentium magni doloremque eaque minus a, eos optio? Dignissimos dicta ducimus saepe aperiam iusto corporis odio, voluptate, optio vero adipisci itaque blanditiis sunt explicabo laudantium necessitatibus deleniti similique. Perspiciatis
                    quae, impedit quia quisquam a odio?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ipsum reprehenderit delectus, temporibus assumenda quidem ex rem architecto ratione, velit sapiente perspiciatis obcaecati molestiae nesciunt distinctio possimus ea placeat quaerat iste quam
                    vitae quos doloremque consequatur. Eius dignissimos sequi dicta mollitia, obcaecati earum numquam quae voluptates esse alias voluptatem ullam incidunt. Nesciunt ex quasi quia quidem nulla, vel ipsam est explicabo nostrum iusto, exercitationem
                    ab praesentium magni doloremque eaque minus a, eos optio? Dignissimos dicta ducimus saepe aperiam iusto corporis odio, voluptate, optio vero adipisci itaque blanditiis sunt explicabo laudantium necessitatibus deleniti similique. Perspiciatis
                    quae, impedit quia quisquam a odio?
                </p>
            </div>

            <ul class="comment-show">
                <% for(let i=0; i<6; i++){ %>
                    <li class="comment-li">
                        <img src="/images/1.png" alt="" class="writer-photo">
                        &nbsp;
                        <span class="writer-name">Commentor name</span>
                        <br>
                        <span class="comment-data">This is a comment</span>
                    </li>
                <% } %>
            </ul>


        </div>
        <div class="col-md-3 hide-in-mobile">
            <div class="card p-2">
                Card here, i am a card, noice to meet you
                <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem laborum deleniti facilis? Aliquid eaque odit consequatur illum accusamus facere sunt harum expedita laboriosam ratione? Nesciunt eaque alias ullam voluptate rerum
                doloribus facere perferendis ipsum quaerat, id iste itaque, deserunt modi cum temporibus ipsa tempore numquam? Laudantium ratione excepturi veniam illum!
            </div>
            










        </div>
    </div>

    <div class="row comment-row">
        <div class="comment-section">
            <h3>Comments</h3>
            <p>Leave a comment</p>

            <form action="" method="post">
                <input type="text" id="commentor" placeholder="Your name">
                <input type="text" id="comment-text" placeholder="Your comment here">
                <button type="submit" class="btn btn-dark" id="comment-btn">Comment</button>
            </form>
        </div>

    </div>


    <div class="owl-carousel owl-theme text-center">

        <% for(let i=0; i<8; i++){ %>
            <div class="item">
                <span class="card__heading text-start">Article</span>
                <div class="card__date text-start">Mon 14 June 2021</div>
                <p class="card__info">How to live life during engineering in three simple steps</p>
                <a class="card__tag" href="/">DEPRESSION</a>
                <div></div>
            </div>
        <% } %>

    </div>
    
<%- include("partials/footer") %>