<%- include('./partials/header.ejs') %>

    <ul>
        <%BlogList.forEach(element => {%>

            <li class="list-unstyled">
                <h2>
                    <%=element.title%>
                </h2>
                <p>
                    <%=element.content%>
                </p>
            </li>

            <%});%>
    </ul>

    <%- include('./partials/footer.ejs') %>