<%- include("partials/header") %>

<!-- Featured Article -->

<!-- //ejs// include("partials/carousel")  -->

<div class="row" style="margin: 10px;">
    <div class="col-md-8" style="border: 1px solid black">
        <!-- //ejs// include("partials/card")  -->
        
    </div>
    <div class="col-md-4" style="border: 1px solid black">

    </div>
</div>




<%- include("partials/footer") %>