<%- include("partials/header") %>

<!-- Featured Article -->

<!-- //ejs// include("partials/carousel")  -->

<div class="row row-spaced">
    <div class="col-md-9 grids">
        
        <% for(let i=0; i<6; i++){ %>
            <div class="card-blog p-2">
                <div class="upper-image"></div>
                <span>category item 1</span>
                <h3>This is the title of the blogpost</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod necessitatibus nam eveniet labore dolorem minus quibusdam, architecto impedit suscipit illum?</p>
    
                <img class="writer-photo" src="/images/1.png" alt="">
                <span class="writer-name">Writer Name</span>
                <br>
                <span class="time slide-right">Mon Jun 14 2021</span>
            </div>
        <% } %>

        
            
        
    </div>
    <div class="col-md-3 hide-in-mobile">
        <div class="card p-2">
            Card here, i am a card, noice to meet you
            <br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem laborum deleniti facilis? Aliquid eaque odit consequatur illum accusamus facere sunt harum expedita laboriosam ratione? Nesciunt eaque alias ullam voluptate rerum doloribus facere perferendis ipsum quaerat, id iste itaque, deserunt modi cum temporibus ipsa tempore numquam? Laudantium ratione excepturi veniam illum!
        </div>
    </div>
</div>




<%- include("partials/footer") %>