<%- include('./partials/header.ejs') %>


<div class="row-spaced">
    <h1 class="writer-heading">Notable Writers ...</h1>
    <div class="writer-list">
        <!-- <p class="writer-spacing"></p> -->
        <% for(let i=0; i<6; i++){ %>
            <div class="writers">
                <div class="writer-page-photo">
                    <img src="/images/1.png" alt="">
                    <div>
                        <div class="name orange">Writer's Name</div>
                        <div class="brief-intro">B.Tech (Computer Sciences, Jamia Millia Islamia)</div>
                    </div>
                </div>
                <div class="writer-page-intro">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis natus non debitis nemo nobis, perspiciatis tempore distinctio provident illo praesentium aliquid nam, nulla suscipit, adipisci voluptatem architecto dolor saepe veniam amet! Aliquam tempora libero similique repudiandae recusandae accusantium magni necessitatibus repellendus incidunt, sit at nulla omnis distinctio consectetur sunt. A at, molestias enim porro velit aliquam nesciunt ipsa, quo dolor debitis ipsam sapiente tempore saepe. Maiores inventore reiciendis modi? Dolor.
                </div>
            </div>
        <% } %>
    </div>

</div>


<%- include('./partials/footer.ejs') %>