:root{
    --backgroundColor: #242424;    /* Dark mode color (partial black) */  
    --black: #000000;   /* Complete dark black used */

    /* Background and border gradient Colors */
    --gradientColorZero: #E4521F;
    --gradientColorOne: #AE012E;
    --gradientColorTwo: #328F96;
    --gradientColorThree: #000000;
    --gradientColorFour: #000000;
    
    /* Text colors */
    --textColorbasic: #ffffff;
    --textColorTags: #ff6900;
    --textColorHighlight: #00b0ff;

    /* Spacings */
    --divSpacing: 00px;
}

*{
    box-sizing: border-box;
    border: none;
    padding: none;
}
